[2020-09-02 19:56] parashardhapola opened #2 "Aggregated TODO list"
Using this issue to track all the feature requests. I have tried to loosely categorize them as well

#### New functionality

- [x] Data 'bulkification': The idea here is to merge the data from cells within the same clusters. This can then have two downstream usages: 1) bulk data can be exported out for use in external software like GSEA and 2) mapping speed up mapping only to bulked values. (Solve

[2020-10-06 18:44] stela2502 opened #4 "Loom file reader?"
A loom file reader would be nice to directly read from kallisto out files.

[2020-10-06 18:54] stela2502 opened #5 "basic_tutorial.md - no normalization step?"
Is scarf internally normalizing the data without external influence or am I simply missing the step in the tutorial?

[2020-10-09 12:08] stela2502 opened #6 "The CrDirReader is strange"
Why do you look for the gzipped features.tsv.gz but the unzipped genes.tsv?
Should you not look for features.tsv.gz and genes.tsv.gz as well as genes.tsv.gz and genes.tsv?

  if os.path.isfile(self.loc + 'features.tsv.gz'):
            self.matFn = self.loc + 'matrix.mtx.gz'
            grps = {'feature_ids': ('features.tsv.gz', 0),
                    'feature_names': ('features.tsv.gz', 1),

[2020-10-09 12:21] stela2502 opened #7 "ds.RNA.mark_hvgs(min_cells=100, top_n=2000)"
I get the error:
IndexError: index 2000 is out of bounds for axis 0 with size 14

change to
ds.RNA.mark_hvgs(min_cells=100, top_n=14)
I get the error:
IndexError: index 14 is out of bounds for axis 0 with size 14

there is a check missing!

[2020-10-12 09:24] stela2502 opened #8 "Anndata's H5ad read/write support"
Make this function more tolerant to different datasets:

[code]

...

[2020-10-12 09:36] stela2502 opened #9 "the default print function"
It would be helpful if the default print function would be more phony.
Which cell col names? Which RNA.feats col names?
Also which layout_key's are there in the data?

It might also help to improve the error message in plot_layout - if the UMAP1 is not found - what is there and possible - where did you check for that?

[2020-10-12 09:54] #6 closed, assigned to nobody

[2020-10-12 20:18] parashardhapola opened #11 "Function "calc_mean_rank" failed type inference"
If the `group_key` parameter of `find_markers_by_rank` refers to a non-numeric column in cell metadata then the Numba compilation of `calc_mean_rank` fails

[2020-10-14 12:38] stela2502 opened #13 "Expression data gets plotted as grouping data"
When the expression is not normalized (resampled and 'fake norm') the then low complexity integer values do not get the 'expression' color schemata, but the 'grouping' color.
It would be great to still get the same colors schemata even for low complexity genes.
I had the same problem with the nFeature if using a resamples data set. It would be great to force whether to use a continuous color or a

[2020-10-14 12:53] stela2502 opened #14 "Merge / project more samples onto one sample."
Yes just that one ;-)

[2020-10-14 21:44] #9 closed, assigned to nobody

[2020-11-01 17:45] #11 closed, assigned to parashardhapola

[2020-11-01 21:58] #7 closed, assigned to parashardhapola

[2020-11-25 13:50] razofz opened #15 "Link to vignettes in docs pages"
Currently the linking to vignettes does not work in the docs pages (`/docs/source/vignettes.rst`). What we did in Nabo was to keep the vignettes directory in the docs dir. In contrast it is a separate dir here (`/vignettes`). I've been looking into linking to external files (e. g. [https://stackoverflow.com/a/17217041/6301083]()) but it seems sphinx does not like that and it's not trivial to get i

[2020-11-25 18:54] razofz opened #16 "Not all dependencies included in Docker image"
Going through the basic_tutorial notebook. at the `plot_marker_heatmap` cell I got these errors:

[code]
I'm using a Docker container built from the Dockerfile included in the repo. It should work out of the box with that.
Will see if I can fix it, just recording the issue when I encountered so it doesn't get lost

[2020-11-25 19:00] razofz opened #17 "Proximity of clusters in binary tree graph"
In the basic_tutoral notebook:

![image](https://user-images.githubusercontent.com/5435349/100270568-8c282200-2f58-11eb-8ea6-c01c8ca9ecb1.png)

*"The tree is free form (i.e the position of clusters doesn't convey any meaning) but allows inspection of cluster similarity based on branching pattern. The sizes of clusters indicate the number of cells present in each cluster. The tree starts from the r

[2020-11-25 19:09] razofz opened #18 "Datastore, sgtsne not working in Docker container"
Similar to #16, it seems the `sgtsne` command is not working. As in the referenced issue, I am using the provided Docker container.

[code]

More complete extract from `datastore.py`:
[code]

[2020-12-07 21:22] #16 closed, assigned to nobody

[2020-12-09 23:37] #17 closed, assigned to parashardhapola

[2020-12-09 23:37] #18 closed, assigned to nobody

[2020-12-09 23:43] #5 closed, assigned to parashardhapola

[2020-12-09 23:44] #8 closed, assigned to parashardhapola

[2020-12-10 11:33] #15 closed, assigned to nobody

[2020-12-15 00:06] #13 closed, assigned to nobody

[2021-01-14 22:59] #4 closed, assigned to parashardhapola

[2021-05-05 19:28] dkobak opened #22 "Default t-SNE parameters"
Great paper and great package. Amazing work!

I am specifically interested in your UMAP/t-SNE comparisons and benchmarks and am now trying to figure out the SG-t-SNE-Pi default parameters that you use. As far as I understood your API, your defaults are `max_iter=500, early_iter=200, alpha=10` where alpha denotes early exaggeration coefficient. I noticed that 10 and 200 are slightly different from

[2021-05-06 01:02] parashardhapola commented on #22
Thanks!

**Learning rate**: The default being used is 200. Thanks for bringing this up. I completely overlooked it. The implementation of SG-tSNE has not exposed this parameter. I have create an issue [here](https://github.com/fcdimitr/sgtsnepi/issues/9) and hope that  the developers fix it soon. Once that is up, I will set learning rate dynamically based on no. of cells, as has been suggested.

*

[2021-05-06 02:03] davisidarta opened #23 "Computing kNN graphs on user-provided dimensional reductions?"
Hi! This is fantastic work, congratulations!

I'm, however, saddened by the somewhat hard-coded kNN graph computation, based solely on PCA, which can be misleading if data does not necessarily lie in a series of linear subspaces. A huge deal of work has been done lately on dimensional reduction, and thus restricting the kNN graphs to PCA is an important limitation. Is there any way to compute the

[2021-05-06 02:18] parashardhapola commented on #23
Hi! Thanks!

The reason that KNN graph computation is hard coded to PCA (and LSI for scATAC-Seq data) is simply because of availability of out-of-core implementation of PCA in the Python ecosystem (sklearn in this case). One of the mottos of Scarf is to be memory efficient and that's why we do not support methods which will violate that motto.

But as you suggest, providing an externally computed

[2021-05-06 02:47] davisidarta commented on #23
Thanks for the swift reply :)

I understand. That's reasonable.

Maybe playing around with [transform_ann](https://github.com/parashardhapola/scarf/blob/a0d9911f61bc74c13756ff0820cc74ad6ce834da/scarf/ann.py#L115) could do it? I'm unused to work with out-of-memory computing, but it seems like the kNN graph step comes right after obtaining PCA/LSI embeddings. Is that right? If so, maybe adding an op

[2021-05-06 03:24] parashardhapola commented on #23
Yes the changes will need to made in [AnnStream](https://github.com/parashardhapola/scarf/blob/a46fbe5896ecbe88c205d528d756e73df6903ef3/scarf/ann.py#L33) class and also to three methods from [GraphDataStore](https://github.com/parashardhapola/scarf/blob/a46fbe5896ecbe88c205d528d756e73df6903ef3/scarf/datastore.py#L407) : [_choose_reduction_method](https://github.com/parashardhapola/scarf/blob/a46fb

[2021-05-06 03:55] parashardhapola commented on #14
`ZarrMerge` and `run_unified_umap` both now  support multiple objects. Feel free to try them.

[2021-05-06 08:27] dkobak commented on #22
Thanks for the replies.

Re learning rate -- great! Some remarks here: if the SG-tSNE implementation has the factor 4 in the gradient (as sklean does), then the heuristic should be n/48 and not n/12.

Also, 12 here comes from the early exaggeration, so I'd suggest you consider changing default alpha to 12 and early_iter to 250 to, but if you prefer to keep your defaults, then maybe the learning ra

[2021-05-06 10:50] parashardhapola commented on #22
**Learning rate**: These are some fantastic suggestions! Thanks. It will interesting to see how the embedding benefits from an increased learning rate. I expect that runtime will get prolonged when using higher values for the learning rate.  It will be interesting to compare the results between low learning rate + more iterations and high learning rate +  fewer iterations. From the articles you sh

[2021-05-07 08:25] dkobak commented on #22
Yes, but what high learning rate solves is the incomplete early exaggeration phase, because increasing the number of iterations without increasing the length of the early exaggeration phase won't help it. I don't think this will matter much for local neighborhood preservation though... So I am actually very curious to see how the learning rate will affect your local neighborhood metric.

Hmm, I am

[2021-05-18 08:46] sommarin opened #24 "Drop column not dropping"
I'm trying to remove a column in cells. Used ds.cells.drop('column_name') and nothing happened.

[2021-05-19 21:18] parashardhapola commented on #24
Fixed this issue in d5192ff
A newer version, 0.7.3 is now available on PyPi.

Please update Scarf like this:
`pip install -U scarf-toolkit`

Please feel free to close this issue if the problem is resolved on your end.

[2021-05-20 06:37] #24 closed

[2021-05-24 14:53] rwarfvinge opened #27 "adjusting filtering parameters in ds.filter_cells()"
Hi,

How do I adjust filtering parameters during cell filtering? If I try to change the first given values for "lows" and "highs" the plot axes wont change when re-plotting the cell distributions. I can reset the values if i convert the hf5 file to a datastore object again, but this is quite tedious. Is there a another way around this?

reader = scarf.CrH5Reader(S1, file_type='rna')
writer = scarf

[2021-05-26 10:12] rwarfvinge opened #28 "Retain QC filtering after scarf.ZarrMerge()?"
Hi,

I am want to merge a set of zarr files in multiple different combinations with scarf.ZarrMerge(). But after merge the QC filtering in "I" column is reset and lost. Is there a way to retain this data during the merge so I don't have to filter all the different file combinations individually after the merge?

thanks,

Rebecca

[2021-05-26 10:27] rwarfvinge opened #29 "Missing figure legends in PNGs"
Hi,

When exporting UMAPs as PNGs with ds.plot_layout() the figure legend is cut off. Possible to fix?

Example code:
ds.plot_layout(layout_key =  "RNA_UMAP", color_by = "maxHTO", cmap= "Set3", savename=f"{sample}_UMAP.png")

best,

Rebecca

[2021-05-26 16:15] parashardhapola commented on #27
Hi,

Thanks for reporting this issue.
The original idea with `filter_cells` was this:
if a user reruns `filter_cells`, then the cells that were filtered out remain filtered out even if they pass the new thresholds.

Obviously, this was a flawed design but I will keep this behavior as default for backward compatibility.

To override this behavior and to have completely fresh filtering you can use t

[2021-05-26 16:37] parashardhapola commented on #29
Hi,

Thanks for reporting this.

I have made a quick fix for this.
Can you try installing the development version of Scarf like this:
`pip install git+git://github.com/parashardhapola/scarf.git@master`

If this works, I will include this in the upcoming `0.7.5` release

Parashar

[2021-05-26 17:23] rwarfvinge opened #30 "Rename ds.cells.columns?"
Is there a function to rename ds.cells.columns?
Tried ds.cells.rename(columns = {A : B}),  couldn't find info in tutorial or API.

[2021-05-27 12:00] parashardhapola commented on #30
Hi,

I assume you mean renaming the label of individual columns rather than the values inside the column.

Such a `rename` function is not implemented. If there is a lot of demand for it then I will do so.

For now, this is the workaround:

[code]

Does that work for you?

[2021-05-28 13:04] rwarfvinge commented on #27
This works perfect, Thanks!

[2021-05-28 13:04] #27 closed

[2021-05-28 13:12] rwarfvinge opened #32 "retain QC filtering and columns after scarf.make.subset()"
Hi,

In regards to my former issue: "Retain QC filtering after scarf.ZarrMerge()?"
https://github.com/parashardhapola/scarf/issues/28

I realized that I lose the QC filtering already at the make_subset,  the step before ZarrMerge . So a similar fix to retain the QC filtering and columns after scarf.make_subset is also needed. Possible to add?

[2021-05-28 13:13] rwarfvinge commented on #30
Works fine for me, thanks!

[2021-05-28 13:13] #30 closed

[2021-05-28 13:38] rwarfvinge commented on #29
Thanks, but unfortunately I does not seem to work in my hands. I installed the development version, updated scarf in jupyter but legend was still missing in output.

[2021-05-29 09:27] parashardhapola commented on #14
I'm closing this cause I believe this has been solved.
If not, then please feel free to reopen this issue.

[2021-05-29 09:27] #14 closed

[2021-05-30 23:15] parashardhapola commented on #32
Version 0.7.5 should fix this
Please update scarf: `pip install -U scarf-toolkit`

[2021-05-30 23:37] parashardhapola commented on #23
Hi,

Version 0.7.6 now contains the ability to provide external transformers here is an example:

[code]

[2021-06-06 05:29] davisidarta commented on #23
Hi! I'm really sorry for my late reply.

Since the philosophy with Scarf is to ensure memory efficiency, it will not be ideal to have even the dimension reduced data as input.

Would it be possible, though, at the user's discretion? Or would it be incompatible with the object architecture entirely?

I think this is a wonderful idea that could couple with methods such as the new liger integrated me

[2021-06-06 12:09] parashardhapola commented on #23
Hi @davisidarta,

Glad to have your comments.

It will be really nice to see if you find the new external transformer feature useful.

I'm taking a deeper look into `TopOMetry` to investigate the possibilities for the two packages to play nice with each other. There are a lot of interesting concepts in `TopOMetry`.

Let me summarize how I understand the default steps of dimension reduction in TopO

[2021-06-07 12:22] razofz opened #33 "Docstrings, task list"
List of docstrings that are currently missing:

- `writers.py`

  - [ ] `write` function in class `ZarrMerge`
  - [ ] all `dump` methods

- `assay.py`

  - [ ] description in module level docstring
  - [ ] `{ADT,ATAC}assay`
  - [ ] the `norm_*` methods
  - [ ] functions in `{RNA,ADT}assay` (e. g. `normed` and `set_feature_stats`)

- `meld_assay.py`

  - [ ] description in module level docstring

[2021-06-07 12:24] razofz commented on #2
"Merge two or more Zarr files" done, considering class `ZarrMerge` exists?

[2021-06-07 16:58] razofz opened #34 "API documentation on readthedocs"
Thought about taking this in the latest pull request, but I think this is a more general discussion (and the pull request is pretty crowded as it is).

There are two points to discuss here:

1. Currently, we provide descriptions in both the `api.rst` file, as well as in the docstrings, for the classes included in the API docs page. I. e., redundant. I would say that if we don't have anything extra

[2021-06-07 16:59] razofz commented on #34
(Wanted to label this with e. g. 'discussion' and 'documentation', but I don't seem to have those permissions)

[2021-06-08 13:14] razofz opened #35 "vignette step fails due to missing SG-tSNE libs"
I noticed that when building the docs page, cell 20 and 21 of the basic workflow vignette failed:

[code]

And it also fail on readthedocs. Judging from the output error, you're probably already aware of this :) It works if one installs the current version from PyPI (0.7.7), but not when installing from the current source code (and on readthedocs, as seen above).

I saw some commit where you remov

[2021-06-08 21:53] parashardhapola commented on #35
Good point. It doesn't work on readthedocs because the some of the shared libraries that SG-tSNE needs are missing on their build server. There is currently  no way to fix this. These libs are already mentioned in the DOCKER file in the repo root.

I'm surprised that it fails on current source code as well. Can you debug this and find out why it is failing on your local machine when you pull the l

[2021-06-08 21:55] parashardhapola commented on #33
This is fantastic. Thanks @razofz.

[2021-06-22 06:40] sommarin opened #37 "export cluster markers"
Hi,
I'm trying to export cluster markers to a csv file. And thus I tried: "ds.export_markers_to_csv(from_assay='RNA', group_key= 'RNA_leiden_cluster', csv_filename= './tables/cluster_markers/Cluster_markers.csv')".
And got the error message "AttributeError: module 'scarf' has no attribute 'export_markers_to_csv'".

[2021-06-28 22:22] parashardhapola commented on #37
Which version of Scarf are you using?
Check using: `print (scarf.__version__)`

`export_markers_to_csv` is available in 0.7.4 upwards

[2021-07-01 13:42] #37 closed

[2021-07-01 13:50] rwarfvinge commented on #28
Thanks, this worked nicely!

[2021-07-01 13:50] #28 closed

[2021-07-01 13:53] rwarfvinge commented on #32
Perfect, thanks! Works perfect now.

[2021-07-01 13:53] #32 closed

[2021-07-01 13:56] rwarfvinge commented on #29
Noticed it now works, thanks for fixing this!

[2021-07-01 13:56] #29 closed

[2021-07-03 21:54] #34 closed

[2021-07-03 21:55] #22 closed

[2021-07-03 21:55] #33 closed

[2021-07-03 21:56] #2 closed

[2021-07-03 21:57] parashardhapola commented on #23
Hi @davisidarta

Are you still interested in this?

[2021-07-11 13:50] parashardhapola opened #49 "High memory consumption"
Using versions of Dask >2021.03.1 might cause high memory consumption when using Scarf.
The temporary solution is to install dask==2021.03.1.  This version has been pinned in the requirements.txt file.

The issue is being traced here on Dask repo: https://github.com/dask/dask/issues/7583

[2021-07-11 13:54] parashardhapola opened #50 "Package name on PyPi"
With release of version 0.9.0 scarf  was recently renamed to `scarf` from `scarf-toolkit` on PyPi. So if you previously installed using `pip install scarf-toolkit` then you need to first uninstall using `pip uninstall scarf-toolkit`. Thereafter you can install the recent version of Scarf using `pip install -U scarf`

[2021-07-11 13:54] #50 closed

[2021-08-17 14:33] jamestwebber commented on #49
Is this still an issue? The very latest versions of Dask have improved the scheduler a lot.

[2021-08-17 14:39] jamestwebber opened #54 "Constructing a scarf Zarr dataset from scratch"
Hello there. I've been thinking a lot lately about Dask and scRNAseq analysis so I'm excited to give this a try! We have a ton of data to analyze and most tools aren't able to scale well enough, so having something that can distribute the work is great.

The first step I'm figuring out is how to get the data into the right format. I already have a very large dataset (10X snRNAseq) in Zarr format,

[2021-08-18 10:37] parashardhapola commented on #49
Hi @jamestwebber

Thank you for getting in touch and sorry for the late response (still on vacation).

I'm waiting for [this commit](https://github.com/dask/dask/commit/846781731b932b74e15dffe965b6b418196e4dec) to be released before testing thoroughly if the issue has been resolved.

[2021-08-18 11:35] parashardhapola commented on #54
Hi @jamestwebber,

This is absolutely possible.
I have a question first, is there any other reason than time-consumption that you would like to avoid the CR import functions?

If you haven't already, I would suggest you read [this vignette](https://scarf.readthedocs.io/en/latest/vignettes/zarr_explanation.html) about Zarr organization

So, a _minimal_ Zarr hierarchy in Scarf looks like this (this

[2021-08-18 14:47] jamestwebber commented on #49
No worries, you should stay on vacation 😁

I have been using the latest Dask and I think I'll try to just run Scarf with that. I'll update in this issue if I have success.

[2021-08-19 14:39] #23 closed

[2021-08-19 14:40] #54 closed

[2021-08-20 16:38] parashardhapola commented on #49
I can confirm that the issue persists even in Dask version `2021.8.0`
Let's wait for Dask version, possibly `2021.8.1`, which will have fixes from https://github.com/dask/dask/pull/8040

[2021-09-20 15:10] rwarfvinge opened #57 "Additonal feature request to ds.plot_layout()"
I am missing the following features in the ds.plot_layout, If you could add any of them it would be much appreciated:

1) An option to give new axis label
  So I can hide labels given at : ds.make_graph(label = "a")) and keep RNA_UMAP1/RNA_UMAP2

2) The option to put your on title ontop of the umap.
 So you for ex. can put in you sample name. Currently it is automatically states the selected param

[2021-09-20 15:22] rwarfvinge opened #58 "Normalization of ADTs on merged datasets"
In a merged data set of sample A and B.
If I color the umap based on the normed ADT expression as written below..

ds.plot_layout(layout_key='RNA_UMAP', from_assay='ADT', color_by= f"ADT_X", cmap='coolwarm', clip_fraction=0.05, cell_key = "I")

...the full sample (cell_key ="I") looks ok.
But if I set cell_key = sample A or sample B separately the expression is lost for sample A.
Could something b

[2021-09-23 16:50] liuweihanty opened #59 "can I convert and import Seurat/SCE object to scarf"
Dear developers of scarf, is there a way to import Seurat or singleCellExperiment object into scarf? Thanks!

[2021-09-24 09:01] razofz commented on #59
Hi!

Not directly, but with export/import functions from Seurat and Scarf combined we can do it. Two alternatives:

1. Seurat object -> Loom file -> Scarf
2. Seurat object -> h5Seurat file -> AnnData h5 file -> Scarf

# Examples

Approach 1 (Loom)
---
[code]
[code]

docs for this approach: https://satijalab.org/seurat/articles/conversion_vignette.html and https://scarf.readthedocs.io/en/latest/api

[2021-09-24 22:58] liuweihanty opened #60 "a problem import scarf (wrong version of tqdm)"
Dear scarf team, I installed scarf using pip successfully, but I encounter the error message below when I tried to import scarf.
Weirdly I already installed tqdm by pip install tqdm, and it says **Requirement already satisfied: tqdm in ./opt/anaconda3/lib/python3.8/site-packages (4.50.2)**. Do you by any chance know what might cause this error message? Thank you very much!

`----------------------

[2021-09-27 06:50] stela2502 opened #61 "loom file from kallisto/bustools import error:"
Hi - I am using Scarf version '0.18.2' - the one installed in LS2 in the SingSingCell/1.1 singularity image.

I did this:
[code]

And I got this error:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-8-b9774bb315c4> in <module>
----> 1 writer = scarf.CrToZarr(
      2     reader,

[2021-09-27 08:29] stela2502 commented on #61
ARGHH - Would likely help to use the right ToZarr function !!

writer = scarf.LoomToZarr

But now I found another bug that only recently has been cleared out in loompy, too:

---------------------------------------------------------------------------
UnicodeDecodeError                        Traceback (most recent call last)
<ipython-input-57-b6945ea54a9c> in <module>
----> 1 writer = scarf.LoomTo

[2021-09-27 08:29] razofz commented on #60
I tried reproducing this, but couldn't. What I did:

[code]

with conda v4.10.1, and scarf was imported.

So it might be an issue with virtual environments and the activation of them, or it might be something with specific versions of packages. Could you please:

- tell me if you are using virtual environments
    - if so, make sure you have the right environment activated (you can check this with

[2021-09-27 08:31] stela2502 commented on #61
https://github.com/linnarsson-lab/loompy/issues/149

[2021-09-27 08:42] razofz commented on #61
Hm, right off the bat it seems that there might be a selection of sources this can arise from. I only looked quickly at the issue you linked to, but you mentioned there the right code existing in the repository as opposed to the PiPy version of loompy, do you also know where in the code that would be? Might help narrow down the possibilities.
Also, just to make sure, have you double-checked that y

[2021-09-27 08:58] stela2502 commented on #61
Have you checked the github link.

It is something about loom being able to save UTF-8 strings and python freaks out if it tries to store an 'alpha' sign as ascii.
To the fix they did in loompy is around line 98 in the normalize.py:

if np.issubdtype(a.dtype, np.string_) or np.issubdtype(a.dtype, np.object_):
# First ensure that what we load is valid ascii (i.e. ignore anything outside 7-bit range

[2021-09-27 09:01] stela2502 commented on #61
The non ascii characters are in the gene annotation table. I would also be absolutely OK if it would silently replace the string with some other crap sign as Excel did it during the days. But failing is annoying.

[2021-09-27 10:31] stela2502 commented on #61
Hi now I fixed the problem myself - a bloody hack as I just dropped data until I clear the issue:
'''
h5 = h5py.File( ifile , mode="r+")
del h5['row_attrs']['Aliases']
h5.close()
[code]
reader = scarf.readers.LoomReader( ifile, cell_names_key='CellID', feature_names_key="Gene")

writer = scarf.LoomToZarr(
    reader,
    zarr_fn='scarf_datasets/data/data.zarr',
    chunk_size=(2000, 1000),
    ass

[2021-09-27 10:50] stela2502 opened #62 "If the assay is not RNA - e.g. spliced from a kallisto/bustools run"
If I load a loom file from a kallisto/bustools run using
[code]

This step breaks:
[code]
Mark the  from_assay='spliced' - but then I also need this:
[code]
As this assay was a scarf.assay.Assay class when loaded.

[2021-09-27 10:51] stela2502 commented on #62
As this was all recoverable I now might have found a bug:
[code]
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-33-a0c6cec879df> in <module>
----> 1 ds.make_graph(
      2     feat_key='hvgs',
      3     k=11,
      4     dims=15,
      5     n_centroids=100,

/usr/local/lib/pyt

[2021-09-28 11:35] parashardhapola commented on #60
Hi @liuweihanty

This can be an issue if an older version of tqdm is already installed. As @razofz  has suggested, it is always best to start in a new virtual environment or a conda environment.

If you want to fix this in your current base environment then you may try this: (`-U` will update tqdm)
`pip install -U tqdm`

[2021-09-28 11:37] parashardhapola commented on #59
Hi @liuweihanty,

Does any of the solutions provided by @razofz work for you?

[2021-09-28 11:41] parashardhapola commented on #58
Hi @rwarfvinge

I'm investigating this. Can you please provide some example plots here so that it is easier for me to understand the aberrant behavior that you notice?

[2021-09-28 11:48] parashardhapola commented on #61
Hi @stela2502,

Nice that you were able to find a solution for your data.

Somehow this issue did not crop up in our tests. Most likely due to the new convention of names that Loompy is using. I will follow this up by trying to perform conversion to Zarr using loom files generated by recent versions of kallisto/loompy.

Let's keep this issue open for now until this bug is fixed.

[2021-09-28 11:51] stela2502 commented on #61
Hi Parasha,

I am not 100% sure that this file is not totally crappy. I might have a lot of duplicates in there.
Let's see where I end up here. By the way - not really new version of kallisto/bustools. I have used files I created about a year ago.

[2021-09-28 12:39] parashardhapola commented on #62
Hi @stela2502,

This will **not** work:
`ds._get_assay('spliced').__class__ = scarf.assay.RNAassay`

A better way to do this would be when you are loading the Zarr file like this:
[code]
This will change the underlying class of assay `spliced` to `RNAassay` type.

Please let me know if this does not work for you.

[2021-09-29 09:33] rwarfvinge commented on #58
Thanks for looking into this,
Here is sample 1 colored by ADT CD54 in a umap by itself
![sample1](https://user-images.githubusercontent.com/71876333/135242175-0acd8c01-e017-4e00-a063-b18c99a96b11.png)

The merged dataset colored by ADT CD54 with cell_key = sample 1:
![merged_sample1](https://user-images.githubusercontent.com/71876333/135242293-3f957d37-d2f2-4305-91d7-4f9ccef7f3f3.png)

The merged

[2021-09-29 12:00] parashardhapola commented on #58
Interesting. I'm not sure if the issue is with the plotting or the normalization itself. We will check it systematically. First, let's check if  `subselection_key` is helpful. Can you try plotting individual samples using the  `subselection_key` instead of `cell_key` parameter? You provide the same values to `subselection_key` as you did to `cell_key` parameter

[2021-09-29 12:23] m0nib opened #63 "How do you reset the column "I" ?"
I loaded dataset as scarf.DataStore with the zarr directory then ran through the pipeline, i guess i made an error in the filter_cells function, now all the feats in column I are labelled False.

Therefore, when running mark_hvgs i keep getting an error:

ds.mark_hvgs(
    min_cells=20,
    top_n=500,
    min_mean=3,
    max_mean=2,
    max_var=6
)

Error:
WARNING: WARNING: Number of valid feature

[2021-09-29 12:32] parashardhapola commented on #63
Hi,

Can you please tell me output of following commands:

`ds.RNA.feats.fetch_all('I').sum()`

and of this:

`ds.cells.fetch_all('I').sum()`

Also if you just print out `ds` in a notebook cells. What do you see?

[2021-09-29 12:35] parashardhapola commented on #63
If you want to reset all cell level filtering, then this will do:
`ds.cells.reset_key('I')`

If you want to reset all the feature level filtering, then you need this:
`ds.RNA.feats.reset_key('I')`

[2021-09-29 15:11] parashardhapola commented on #57
Hi,

For point 2:
Version `0.19.1` is out now. This version contains the parameter `title` in the `plot_layout` function. This will allow you to set cutom titles for your plots.

The solutions for point 1 and 3 will appear in the next version that we are planning to release next week.

[2021-09-29 20:40] rwarfvinge commented on #58
Have now tried as you suggested  and now it looks like this:

Merged dataset, subselection_key = sample1
![merged_sample1](https://user-images.githubusercontent.com/71876333/135344084-a435c287-0ed2-4aed-a66d-265fee70bb86.png)

Merged dataset, subselection_key = sample2
![merged_sample2](https://user-images.githubusercontent.com/71876333/135344090-fb9e8178-f95a-4324-8071-eaeae0d29e4c.png)

Merged d

[2021-09-30 07:43] m0nib commented on #63
Hi Parashardapola,

output from these commands looks like this::

ds.RNA.feats.fetch_all("I").sum()

56490

time: 9.83 ms (started: 2021-09-30 09:41:48 +02:00)

ds.cells.fetch_all('I').sum()

973667

time: 13.1 ms (started: 2021-09-30 09:42:03 +02:00)

ds

DataStore has 973667 (982538) cells with 1 assays: RNA
   Cell metadata:
            'I', 'ids', 'names', 'RNA_nCounts', 'RNA_nFeatures',

[2021-09-30 07:50] m0nib commented on #63
It seems like if you re-apply the filer_cells function cells and feats both retain the previous filter key in column "I" rather than first reset the keys and then apply the filter_cells.

[2021-09-30 07:53] parashardhapola commented on #58
`cell_key` will usually generate a different representation of your data, think of it as on-the-fly subsetting. This will affect what parameters are used to normalize the data, etc. In the case of scRNA-Seq data, using either `cell_key` or `subselection_key` here would not have made much of a difference because the normalization of the data is done atomically on individually on cells. This means t

[2021-09-30 08:34] m0nib commented on #63
HI,

I reset the cells and feats keys and ran only

`ds.filter_cells(attrs=['RNA_percentMito'], highs=[15], lows=[0])`

followed by mark_hvgs using

`ds.mark_hvgs(
    min_cells=20,
    top_n=500,
    min_mean=3,
    max_mean=2,
    max_var=6
)`

I am still getting the same error:

(RNA) Computing nCells: 100%|
257650/257650 [03:56]
(RNA) Computing normed_tot: 100%|
257650/257650 [04:05]
(RNA) Com

[2021-09-30 09:08] parashardhapola commented on #63
Hi @m0nib,

That's a correct observation. The `filter_cells` function will not 'filter-in' cells that were previously 'filtered out'. This design decision was put in after a lot of thought. Sometimes the users perform a manual filtering step and then use `filter_cells`. In such cases, automatically resetting the filtering is not a good idea.

You can always force reset the filter using `reset_key`

[2021-09-30 09:12] parashardhapola commented on #63
Hi @m0nib,

There is a problem with your parameters in `mark_hvgs`
You are using a value for `min_mean` that is greater than `max_mean` (3>2). `min_mean` should be lower than `max_mean`. I would suggest that you **don't use `min_mean` parameter** for starters and look at the results. Maybe paste the plot that you get after successfully running `mark_hvgs` and then I can explain more.

[2021-10-01 08:20] rwarfvinge commented on #57
Fantastic,  thanks for the help!

[2021-10-01 08:20] m0nib commented on #63
Hi,

It worked now.

Thank you
Best regards
Monib

[2021-10-01 08:21] m0nib commented on #63
However, I am using linux and when running

ds.run_tsne(
    alpha=10,
    box_h=1,
    early_iter=250,
    max_iter=500,
    parallel=True
)

i get an error::

Saving KNN matrix in MTX format: 100%|
974/974 [00:13]

ERROR: SG-tSNE failed, possibly due to missing libraries or file permissions. SG-tSNE currently fails on readthedocs
time: 15.7 s (started: 2021-10-01 10:19:26 +02:00)

what library i

[2021-10-01 08:25] rwarfvinge commented on #58
Thank you for the help and for taking the time to explain!

[2021-10-01 08:25] #58 closed

[2021-10-01 10:05] parashardhapola commented on #57
I'll keep this issue open until we have fixed the rest of the issues.

[2021-10-01 10:06] parashardhapola commented on #63
Great! I'll close this now

[2021-10-01 10:06] #63 closed

[2021-10-01 14:08] parashardhapola commented on #35
For others who end up here due to SG-tSNE error on Linux machine. You will need to run the following on your terminal to install the necessary libraries:

[code]

These are tested for Ubuntu 20.04 but may work on other Ubuntu systems as well. You will need to modify these if you are on some other distro.

[2021-12-09 12:54] arita-clavy opened #64 "ATAC-seq recognized as RNA-seq?"
Hi staffs of scarf, I downloaded Cusanovich's 81K sc-ATAC-seq dataset using your fetch_dataset(),
but when I was importing the dataset, this happened:
[code]
somehow it was auto-recognized as a RNA-seq assay, since file_type is deprecated I cannot either change the assay type or go on my downstream analysis.
Any possible solutions?

[2021-12-11 05:37] parashardhapola commented on #64
Hi,

This issue is due to fact that the files in this dataset are deposited in a way that is similar to RNA-Seq data.
For ATAC-Seq, Scarf expects a 'peaks.tsv.gz' rather than 'features.tsv.gz'. We will fix this issue in the data repository.

For now, the quick solution for you is to do the following:

[code]

Please let me know if this helps

[2021-12-16 20:59] yuhanH opened #65 "clusters input for TopACeDo"
Hi,
I want to use `TopACeDo` to downsample the dataset. It seems that pre-defined clusters are required for `TopACeDo`.
I am wondering how big clustering methods or resolution value can affect the downsampling cells results.  Thanks.

[2021-12-19 12:27] parashardhapola commented on #65
Hi,

Sorry for the slow response here.
Not sure what does 'big clustering methods' mean. Can you please explain that further?

As for the resolution value. Ideally, you want to use a resolution value that is most "ideal" for your dataset. So the idea is to use the resolution value that captures as many cell types as expected. The TopACeDo algorithm is designed to be insensitive to the clustering r

[2021-12-19 13:23] yuhanH commented on #65
hi @parashardhapola
Thanks for your explanation. Very clear! Thanks.

[2021-12-19 13:23] #65 closed

[2021-12-19 13:51] parashardhapola commented on #60
I guess this is resolved. Feel free to open again if the issue persists.

[2021-12-19 13:51] #60 closed

[2021-12-19 13:52] parashardhapola commented on #59
Closing due to inactivity

[2021-12-19 13:52] #59 closed

[2021-12-20 08:20] stela2502 commented on #65
Hi, my approach to a similar problem was to hopelessly overcluster the data (100+ clusters) and then merge clusters if the expression values correlated (pearson or spearman) with > .8 -> .99 (users decision).
I do not have enough confidence into the density reduction methods to rely on the 2/3D strictures too much.

[2022-06-03 12:37] parashardhapola commented on #64
Closing this for now. Please feel free to reopen this.

[2022-06-03 12:37] #64 closed

[2022-06-03 12:37] parashardhapola commented on #61
Closing this for now.

[2022-06-03 12:37] #61 closed

[2022-06-03 12:38] #35 closed

[2022-06-03 12:38] #62 closed

[2022-07-20 15:09] sandhusumiti opened #67 "run_clustering() error using Paris clustering algorithm"
Hi,
I am using Scarf version 0.19.6 on Python 3.9.1 and was following the workflow for scRNA-seq on https://scarf.readthedocs.io/en/latest/vignettes/basic_tutorial_scRNAseq.html , I am getting this error while running Paris clustering algorithm using run_clustering method.

[code]

**To Reproduce**
[code]

[2022-07-25 10:57] parashardhapola commented on #67
Hi @sandhusumiti,

I could not reproduce this error with the latest version of Scarf (0.19.6) and scikit-network version 0.24.0

### FYI
If Paris clustering is not critical for your work then you can ignore this error for now and proceed with Leiden clustering only.

### A potentially quick solution:

This may be a long shot: when you run `ds.make_graph` can you increase the number of neighbours b

[2022-08-11 06:41] stela2502 opened #70 "h5py - minimal requirement"
h5ps in the 3.2.x versions does not support to write dtype(0) objects to h5 files:
[code]

[2022-08-11 09:51] #70 closed

[2022-08-13 03:26] marhirst opened #71 "ZarrMerge producing empty counts while .zarr files used to merge have associated counts?"
Thank you for producing this pipeline - it's quite helpful when dealing with huge sc datasets! I'm running into an issue when I try to merge two zarr objects.

I'm actually not throwing an error until I get to the mark_hvgs() step, but it's related to the ZarrMerge step not outputting cell counts by feature (i.e., the .zarr directory has no data files in test.zarr -> RNA -> counts).

**Expected be

[2022-08-13 11:22] parashardhapola commented on #71
Hi @marhirst!

Thank you for your appreciation and I hope that you find **Scarf** useful in your work.

The design philosophy in Scarf is to write out the data in two steps. In the first step, the Zarr structure is created and in the second the step the count data is written out. This is true for all the classes in the `scarf.writer` module.

The second part is missing in your script:  `dump` func

[2022-08-13 11:28] parashardhapola commented on #50
Update:

`scarf-toolkit` package (along with its 16 releases) was taken down from PyPi today.

[2022-08-13 16:43] marhirst commented on #71
Thanks for the quick response! I actually did dump the zarr object, I just forgot to paste it over in my issue.

Is there anything else that could be happening to cause the problem?

Thanks,
Marissa

[2022-08-15 09:11] stela2502 opened #72 "ds.to_anndata() and scarf.writers.to_h5ad() crteate two different data structures"
When I use the to_anndata() function in scarf 0.20.0 I get an anndata object with all requred information ([20] in the script); If I use the to_h5ad I get only a minimal anndata object lacking all UMP/TSNE information [25].
In addition it would be cool dimension reduction data could be stored in an obsm table instead of an obs table mimicking the scanpy behavior.

A detailed description of what I

[2022-08-15 09:26] stela2502 commented on #72
And github does not accept html - hence it is a pdf now.

[2022-08-15 10:31] stela2502 commented on #72
And one other 'issue' related to drc's and anndata: Could you precede the drc names with an uppercase X_? Like create from umap1 a key names X_umap1? This would help me a lot when importing scarf data into cellexalvrR.

[2022-08-15 11:02] parashardhapola commented on #71
Hi again,

I have released a new version for Scarf (0.20.1).  Please update your Scarf version:
`pip install -U scarf`

In this updated version, I have included certain internal check in `ZarrMerge` that might help us identify the issue and also changed the overwrite behaviour (which I think might be the underlying issue). I tried running` ZarrMerge` on my end with example files and it works fine.

[2022-08-15 15:26] parashardhapola commented on #72
Please try version `0.21.0`. Improvements were added to `to_h5ad` function. Now you get all the 'col' and 'var' data. You will also find the UMAP coords as X_umap in the 'obsm' slot.

[2022-08-16 08:59] stela2502 commented on #72
This does work perfectly! Thank you very much! No need to modify cellexalvrR any longer.

[2022-08-16 08:59] #72 closed

[2022-08-16 15:16] marhirst commented on #71
Hi Parashar,

Your original fix worked. It was absolutely adding the .dump to the zarr
call that made the pipeline work downstream. I'm not sure why that would be
the case, but I was able to process through the remainder of the workflow.
Thank you so much for your help and quick response!

Marissa

On Mon, Aug 15, 2022 at 4:02 AM Parashar ***@***.***> wrote:

[2022-08-16 15:18] parashardhapola commented on #71
Glad to hear that! I will close this issue then.

[2022-08-16 15:18] #71 closed

[2022-08-25 07:28] bioarpit1 opened #73 "trimodal multiomic data analysis use case Thanks for developing wonderful single cell analysis pipeline. Use case examples are great to start hands on with analysis pipeline is it possible to get a similar use case for either TEA seq or DOGMA seq dataset"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-29 09:24] stela2502 opened #74 "Documentation enhancement for SubsetZarr"
Recently an issue was solved where scarf.writers.SubsetZarr did not produce the expected outfiles.
Now I hit the same problem following the info on this web page: https://scarf.readthedocs.io/en/latest/api.html

I would greatly appreciate if a short example could be added to the api documentation. Like:
[code]

[2022-09-06 07:58] parashardhapola opened #77 "Error: Conversion Anndata to Scarf’s Zarr format file"
### Discussed in https://github.com/parashardhapola/scarf/discussions/76

<div type='discussions-op-text'>

<sup>Originally posted by **drewmard** September  6, 2022</sup>
Hi! I saw the recent paper in Nat Comm and the scarf package looks great! I have a large scRNA-seq dataset and I am interested in switching some of our pipelines over from Seurat/Scanpy to Scarf. However, I am running into an er

[2022-09-06 08:55] parashardhapola commented on #77
Hi @drewmard,

A couple of quick questions:
1) which version of Scarf are you using
2) Is the dataset available somewhere to try?

I'm unable to reproduce the issue on my end on the test datasets. Can you please run the following test snippet? This will help me understand if there is anything peculiar with the data.

[code]

*Expected output*

[code]

/PD

[2022-09-13 22:21] parashardhapola commented on #74
Hi @stela2502,

The updated downsampling vignette now has some info.
https://scarf.readthedocs.io/en/latest/vignettes/cell_subsampling_tutorial.html#exporting-downsampled-data

/PD

[2022-10-11 09:13] marhirst commented on #71
Hi Parashar,

Sorry for my last email, it actually was appending the .dump command after
merging the zarr object. Thank you for the quick response and sorry to clog
your issues log with such a simple, dumb mistake on my end.

Thank you again!

Marissa

On Sat, Aug 13, 2022 at 9:43 AM Marissa Hirst ***@***.***> wrote:

[2022-10-16 01:55] melancholy12 opened #80 "How can I generate the UMAP like this (cluster centroids). Can I also change the format and position of this figure?"
![image](https://user-images.githubusercontent.com/97800939/196014211-b44f7922-1f83-4155-b129-35d71ccc1b85.png)

[2022-10-17 04:40] melancholy12 opened #81 "cannot make UMAP"
![image](https://user-images.githubusercontent.com/97800939/196090779-a85a182b-7956-4b63-bcd1-9f1400628bbe.png)
![image](https://user-images.githubusercontent.com/97800939/196090800-f2babfbe-a616-4707-825f-248ed2ec3d49.png)

[2022-10-17 04:48] melancholy12 commented on #81
![image](https://user-images.githubusercontent.com/97800939/196091581-2b1c46ff-547e-43c8-ace4-bc1c7b387212.png)

Rerun make_gragh, and get the ANN recall: 99.87%, but still cannot make umap

[2022-10-17 04:51] parashardhapola commented on #81
Please update your UMAP package.

`pip install -U umap-learn`

[2022-10-17 11:08] parashardhapola commented on #81
Hi @melancholy12,

Did that help?

Please make sure that you restart your jupyter session after upgrading UMAP

[2022-10-17 14:12] melancholy12 opened #82 "How to add feature name changed by gene name?"
![image](https://user-images.githubusercontent.com/97800939/196199894-6c0bd3f6-dd67-46a0-84e6-43a8d8d6ba31.png)

The names are not correct. How can I replace it by gene_name?

[2022-10-18 15:47] parashardhapola commented on #82
This will take the data from `gene_name` column and overwrite the `names` column

`ds.RNA.feats.insert('names', ds.RNA.feats.fetch_all('gene_name'), overwrite=True)`

[2022-10-18 16:18] parashardhapola commented on #80
Hi @melancholy12

Sorry for the slow reply on this. You see, this functionality doesn't exist in Scarf, but we did provide the function to draw in the code that accompanied the manuscript.

But to simplify things, I have created the following function that you run out of the box. I will bake this into Scarf in the next release (lots of good things coming there).

Just copy and paste the function b

[2022-11-28 11:51] parashardhapola commented on #82
Hi!

I'm closing this due to inactivity. Feel free to reopen this if needed.

/PD

[2022-11-28 11:51] #82 closed

[2022-11-28 11:51] parashardhapola commented on #81
Hi!

I'm closing this due to inactivity. Feel free to reopen this if needed.

/PD

[2022-11-28 11:51] #81 closed

[2022-11-28 12:04] #74 closed

[2022-11-28 12:05] parashardhapola commented on #77
HI @drewmard

I'm closing this due to inactivity. Please reopen if needed.

/PD

[2022-11-28 12:05] #77 closed

[2022-11-28 12:06] parashardhapola commented on #67
Hi @sandhusumiti

I'm closing this due to inactivity. Please reopen if needed.

/PD

[2022-11-28 12:06] #67 closed